asgiref==3.4.1
Django==3.2.16
django-filter==21.1
djangorestframework==3.14.0
djangorestframework-simplejwt==4.4.0
psycopg2==2.9.5
PyJWT==1.7.1
python-dotenv==0.20.0
pytz==2022.5
sqlparse==0.4.3
typing-extensions==4.1.1
